<div class = "container">
  <div class = "jumbotron">
    <h2 class = "text-center">Account Successfully Created</h2>

    <hr>

    <h2><%= user.firstName + " " + user.lastName %></h2>

    <h3><%= user.username %></h3>
  </div>
</div>
