<div class = "container form-horizontal">
  <div class = "jumbotron col-lg-8 col-lg-offset-2">
    <h1 class = "text-center">Create An Account</h1>

    <hr>

    <% if(flash && flash.err) { %>
      <ul class = "alert alert-success">
    <% Object.keys(flash.err).forEach(function(error) { %>
      <li><%- JSON.stringify(flash.err[error]) %></li>
    <% }) %>
      </ul>
    <% } %>

    <form role = "form" action = "/user/create" method = "POST" class = "form-horizontal form-signin">
      <div class = "form-group">
        <div class = "col-sm-offset-3 col-sm-6">
          <label for = "firstName">First Name</label>
          <input type = "text" class = "form-control" placeholder = "First Name" name = "firstName">
        </div>
      </div>

      <div class = "form-group">
        <div class = "col-sm-offset-3 col-sm-6">
          <label for = "lastName">Last Name</label>
          <input type = "text" class = "form-control" placeholder = "Last Name" name = "lastName" >
        </div>
      </div>

      <div class = "form-group">
        <div class = "col-sm-offset-3 col-sm-6">
          <label for = "username">Username</label>
          <input type = "text" class = "form-control" placeholder = "username"  name = "username" >
        </div>
      </div>

      <div class = "form-group">
        <div class = "col-sm-offset-3 col-sm-6">
          <label for = "password">Password</label>
          <input type = "password" class = "form-control" id = "password" placeholder = "password" name = "password">
        </div>
      </div>

      <div class = "form-group">
        <div class = "col-sm-offset-3 col-sm-6">
          <label for = "password">Confirm Password</label>
          <input type = "password" class = "form-control" placeholder = "confirm password" name = "confirmation">
        </div>
      </div>

      <div class = "form-group">
        <div class = "col-sm-offset-3 col-sm-6">
          <input type = "submit" class = "btn btn-lg btn-primary btn-block" value = "Create">
          <input type = "hidden" name = "_csrf" value = "<%= _csrf %>">
        </div>
      </div>
    </form>
  </div>
</div>
